.DS_Store
/src/.DS_Store
/src/users/__pycache__
src/Acc_route/.DS_Store
src/Acc_route/__pycache__
src/Acc_route/data/.DS_Store
src/Acc_route/migrations/__pycache__
src/Acc_route/static/css/.DS_Store
.env/
.env
db.sqlite3
__pycache__/

